[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
html5lib = "*"
chromedriver-binary = "==101.0.4951.41.0"

[dev-packages]

[requires]
python_version = "3.9"
